div {
    background-color: black;
    margin: auto;
    width: 280px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    user-select: none;
}

caption {
    color: rgb(194, 193, 193);
    font-size: .95em;
    
}

td {
    color: rgb(194, 193, 193);
    border: 2px solid black;
    background-color: rgb(46, 43, 43);
}

#visor {
    overflow-x: auto;
    background-color: rgb(138, 135, 135);
    height: 80px;
    max-width: 270px;
    text-align: right;
    color: black;
    font-size: 1.5em;
}

.botaoPequeno {
    height: 45px;
    width: 70px;
}

.botaoPequeno:hover {
    background-color: rgb(24, 22, 22);
}

.botaoGrande {
    height: 45px;
}

.botaoGrande:hover {
    background-color: rgb(70, 44, 44);
}

#operador:hover {
    background-color: rgb(57, 63, 95);
}

#resultado:hover {
    background-color: rgb(37, 59, 36);
}