body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(11, 141, 248);
}

header {
    background-color: white;
    text-align: center;
    font-size: 25px;
}

#calculator {
    margin: auto;
    padding-top: 6px;
    border-radius: 10px;
    background-color: rgb(204, 204, 235);
    width: 288px;
    height: 400px;
}

#screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    border-radius: 10px;
    background-color: rgb(167, 167, 187);
    width: 265px;
    height: 80px;
    text-align: right;
    font-size: 30pt;
}

.keyboard {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(204, 204, 235);
    width: 288px;
    height: 72px;
}

.large {
    margin: 2px;
    width: 134px;
}

input {
    background-color:  rgb(167, 167, 187);
    margin: 2px;
    border: none;
    border-radius: 33.5px;
    width: 67px;
    height: 67px;
    font-size: 30pt;
    font-weight: bold;
}

input:hover {
    background-color: rgb(117, 117, 148);
}